<!DOCTYPE html>
<html>
	<head>
		<script src ="tree.js"></script>
		<link rel="stylesheet" type="text/css" href="bepStyle.css">
	</head>
	<body>
		<div id="messages">
			
		</div>
		<div id="wrapper">
			<table id="treeTable">
				<tr>
					<td rowspan="2">
						<div id="tree">
							<ol>
								<li id="rootLI">
									<label for="root"><span>Root</span></label>
									<input type="checkbox" id="root" />
					            	{% block tree_content %}{% endblock %}
								</li>
							</ol>
						</div>
					</td>
					<td>
						<div id="info">
							<ul id="infoList">
								<li><span class="infoLabel">Company Name:</span> Matt Co</li>
								<li><span class="infoLabel">Document:</span> PurchaseOrder - 850</li>
								<li><span class="infoLabel">Other documents with exempt rules:</span>
									<ul id="otherDocList">
										<li>Advance Ship Notice - 856</li>
										<li>Invoice - 810</li>
									</ul>
								</li>
							</ul>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div id="exemptList">
							<form id="exemptForm" action="createDREScript" method="POST">
								<input id ="exemptSubmit" type="submit" name="submit" value="Create DRE Rules"/>
							</form>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</body>
</html>
