
/*global styles*/
html{
	height: 95%;
}

body{
	height: 100%;
}

#wrapper{
	position:relative;
	width:100%;
	height:100%;
	margin-left:auto;
	margin-right: auto;
}

/*index styles*/
#filedrag{
	display: none;
	font-weight: bold;
	text-align: center;
	padding: 1em 0;
	width: 50%;
	height:10em;
	margin: 1em 1em;
	color: #555;
	border: 2px dashed #555;
	border-radius: 7px;
	cursor: default;
}

#filedrag.hover
{
	color: #55a;
	border-color: #55d;
	border-style: solid;
	box-shadow: inset 0 3px 4px #888;
}

#submitButton{
	margin-top: 10px;
	display:table;
	margin-left:auto;
	margin-right: auto;
}
/*tree styles*/
#treeTable{
	width:100%;
	height:100%;
}
#treeTable td{
	width:60%;
	height:50%;
}
#tree{
	height:100%;
	background-color: #66dd66;
	overflow:scroll;
}
#info{
	height:100%;
	background-color: #dd6666;
	overflow:hidden;
}
#exemptList{
	height:100%;
	background-color: #6666dd;
	overflow:scroll;
}
li {
    position: relative;
    margin-left: -.75em;
    list-style: none;
}
li input{
    position: absolute;
    left: 0;
    margin-left: 0;
    z-index: 2;
	opacity: 0;
    cursor: pointer;
    height: 1em;
    width: 1em;
    top: 0;
	
}
li label {
    cursor: pointer;
    display: block;
    padding-left: 15px;
	margin-bottom: 0px;
	background: url(toggle-plus.png) no-repeat;
	z-index: 0;

}
li .groupWrap{
	display:none;
	background: url(toggle-plus.png) no-repeat;
	margin-top: -1.1em;
	padding-top: 1.1em;
	z-index: 1;
}
#rootLI input[type=checkbox]:checked  + .groupWrap{
	display:block;
	background: url(toggle-minus.png) no-repeat;
}
label button{
	font-size: 8pt;
}


















